<div class="row">
    <div class="row">
        <img [src]="'../../assets/images/about-us.png'" class="img-responsive title-img">
      <h3 style="display: inline"> About Us</h3>
      <hr>
    </div>
    <div class="row">
        B z orders is an online food delivery application. In this application customers can place order for food items in restaurants, grocery shops, food courts, bakeries and other delivery services. It provides information and reviews on restaurants, including images of menus where the restaurant does not have its own website. You can buy grocery items online and all your food items at the best prices and get free home delivery. You can select the required restaurant and required food item from the list. Shopping can be time-consuming, with making a list, traveling to and from the store and then searching through seemingly endless items to find what you’re looking for. So you can order any food item in this app for delivery at any place.
        <br><br>Restaurants: You can order from different types of restaurants items like burgers, pizzas etc. 
        <br><br>Groceries: You can find unlimited food in grocery stores, and the overall widespread availability of less expensive quality products. You can buy rice flour, sugar etc items from the app.
        <br><br>Bakeries: You can even order flour based food baked in an oven such as bread, cookies, cakes, pastries etc
        <br><br>Food courts: You can order required item from multiple vendors.
        <br><br>Other delivery services:        
    </div>
  </div>