<div class="container">

    <div class="row">
      <div class="col-lg-3">
        <div class="well well-lg">
          <img src="../../assets/images/profile-logo.svg" >
          <label>Hello,  
          {{ auth.loggedUser.displayName }}</label>
        </div>
        <div class="well well-lg col-lg-12">
          <div class="col-lg-2 pull-left">
            <span class="glyphicon glyphicon-briefcase orderIcon"></span>    
          </div>
          <div class="col-lg-6 myOrder">
            <a routerLink="/my-profile/order-list">
              My Orders
            </a>
          </div>
        </div>
      </div>


    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div> <!-- end size -->
  </div> <!-- end container-fluid -->
  