<div class="container">

    <div class="row">
      <div class="col-lg-3">
        <div class="well well-lg">
          <img src="../../assets/images/profile-logo.svg" >
          <label>Hello,  
          {{ auth.loggedUser.displayName }}</label>
        </div>
        <div class="well well-lg col-lg-12">
          <div class="col-lg-2 pull-left">
            <span class="glyphicon glyphicon-briefcase orderIcon"></span>    
          </div>
          <div class="col-lg-6 myOrder">
            <a style="">
              My Orders
            </a>
          </div>
        </div>
      </div>


    <div class="col-lg-9">
      <div class="panel panel-default panel-info Profile">
        <div class="panel-heading"> Personal Information </div>
        <div class="panel-body">
          <div class="form-horizontal">
              <form>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-4">
                          <input class="form-control" type="text" name="firstName"
                              placeholder="Name" [(ngModel)]="auth.loggedUser.displayName" disabled>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Email Id</label>
                      <div class="col-sm-4">
                          <input class="form-control" type="text" name="lastName"
                              placeholder="Email" [(ngModel)]="auth.loggedUser.email" disabled>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Mobile Number</label>
                      <div class="col-sm-4">
                          <input class="form-control" type="text" name="email"
                              placeholder="Mobile Number" [(ngModel)]="auth.loggedUser.phoneNumber" disabled>
                      </div>
                  </div>
                  
              </form>
            </div>  <!-- end form-horizontal -->
        </div> <!-- end panel-body -->
  
      </div> <!-- end panel -->
      
    </div> <!-- end size -->
  </div> <!-- end container-fluid -->
  