.list-group-item-heading {
    margin-top: 20px;
}
i.glyphicon {
    cursor: pointer;
}
input.form-control {
    display: inline-block;
    width: 75px;
}
.item{
    margin-bottom: 20px;
}
img.item{
    width: 100%;
    height: 150px;
    margin:auto;
}