<div class="row">
  <h3> My order ({{items.length}})</h3>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-4" *ngIf="items.length > 0">
    <div class="list-group-item">
      <h4 class="list-group-item-heading"> Order detail</h4>
      <hr>
      <p>
        <b> Item </b>
        <span class="pull-right">
          <b> Price </b>
        </span>
      </p>
      <p *ngFor="let item of items">{{ item.name }}
        <span class="pull-right"> ₹ {{ item.price * item.quantity }} </span>
      </p>
      <hr>
      <p>
        <b>Total</b>
        <span class="pull-right"> ₹
          <b> {{ getTotal() }} </b>
        </span>
      </p>
      <div class="row" style="margin: 10px">
        <button class="btn btn-success" style="width:100%" (click)="placeOrder()" [disabled]="cart.isValidAddress == 'INVALID' && state == 1">
          {{ state == 0 ? 'Continue' : 'Palce Order'}}
        </button>
      </div>
    </div>
  </div>
</div>