<div class="row">
  <h3> My order ({{cart.itemCount}})</h3>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-4" *ngIf="(items | json) !== '{}'">
    <div class="list-group-item">
      <h4 class="list-group-item-heading"> Order detail</h4>
      <hr>
      <p>
        <b> Item </b>
        <span class="pull-right">
          <b> Price </b>
        </span>
      </p>
      <hr>
      <div *ngFor="let vendorId of items | keys">
        <div *ngIf="items[vendorId].length > 0">
            <b> {{ vendors ? vendors[vendorId].name : '' }} </b>
            <hr>
            <p *ngFor="let item of items[vendorId]">{{ item.name }}
              <span class="pull-right"> ₹ {{ item.price * item.quantity }} </span>
            </p>
            <p>
              <b>Total</b>
              <span class="pull-right"> ₹
                <b> {{ getTotal(vendorId) }} </b>
              </span>
            </p>
            <hr>
        </div>
      </div>
      <p>
        <b>Grand Total</b>
        <span class="pull-right"> ₹
          <b> {{ getTotal(null) }} </b>
        </span>
      </p>
      <div class="row" style="margin: 10px">
        <button class="btn btn-success" style="width:100%" (click)="placeOrder()" [disabled]="cart.isValidAddress == 'INVALID' && state == 1">
          {{ state == 0 ? 'Continue' : 'Palce Order'}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #paymentModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Payment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="paymentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="Checkout" class="inline">
          <h1>Pay Invoice</h1>
          <div class="card-row">
            <span class="visa"></span>
            <span class="mastercard"></span>
            <span class="amex"></span>
            <span class="discover"></span>
          </div>
          <form (ngSubmit)="makePayment()">
            <div class="form-group">
              <label for="PaymentAmount">Payment amount</label>
              <div class="amount-placeholder">
                <span>₹</span>
                <span>{{ getTotal(null) }}</span>
              </div>
            </div>
            <div class="form-group">
              <label or="NameOnCard">Name on card</label>
              <input id="NameOnCard" class="form-control" type="text" maxlength="255">
            </div>
            <div class="form-group">
              <label for="CreditCardNumber">Card number</label>
              <input id="CreditCardNumber" class="null card-image form-control" type="text">
            </div>
            <div class="expiry-date-group form-group">
              <label for="ExpiryDate">Expiry date</label>
              <input id="ExpiryDate" class="form-control" type="text" placeholder="MM / YY" maxlength="7">
            </div>
            <div class="security-code-group form-group">
              <label for="SecurityCode">Security code</label>
              <div class="input-container">
                <input id="SecurityCode" class="form-control" type="text">
                <i id="cvc" class="fa fa-question-circle"></i>
              </div>
              <div class="cvc-preview-container two-card hide">
                <div class="amex-cvc-preview"></div>
                <div class="visa-mc-dis-cvc-preview"></div>
              </div>
            </div>
            <div class="zip-code-group form-group">
              <label for="ZIPCode">ZIP/Postal code</label>
              <div class="input-container">
                <input id="ZIPCode" class="form-control" type="text" maxlength="10">
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="Enter the ZIP/Postal code for your credit card billing address.">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
            </div>
            <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit">
              <span class="submit-button-lock"></span>
              <span class="align-middle">Pay ₹ {{ getTotal(null) }}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>