<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <tabset type="pills">
    <tab heading="Home"></tab>
    <tab heading="About Us"></tab>
    <tab heading="Partner with us"></tab>
    <tab heading="Support/Help"></tab>
    <tab heading="Login/SignUp"></tab>
  </tabset>
  <div style="display: inline">
    <img src="../../assets/images/shopping-cart.png" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
  </div>
    <a>
      
    </a>
  <router-outlet></router-outlet>
</div>


