<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive panel panel-default">
      <div id="logo-container">
        <img src="../../assets/images/BzOrder-Logo.png" alt="logo" style="width:70px;height:55px;border:0;">
      </div>
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-12">
        <form>
          <div class="form-group input-group" [ngClass]="{'has-error' : !phoneInput.valid && phoneInput.touched && !phoneInput.disabled}">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-earphone"></i>
            </span> 
            <input class="form-control" type="text" [disabled]="state == 1" name="phone" [(ngModel)]="phone" placeholder="Phone" required #phoneInput="ngModel"/>
          </div>
          <div class="form-group input-group" *ngIf="state != 0" [ngClass]="{'has-error' : !codeInput.valid && codeInput.touched }">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input class="form-control" type="text" [(ngModel)]="code" name='password' placeholder="OTP" required #codeInput="ngModel"/>
          </div>
          <div class="form-group">
            <button type="submit" id="sign-in-button" [disabled]="!phoneInput.valid && !phoneInput.disabled" (click)="onSend()" class="btn btn-primary btn-block">Submit</button>
            <button type="submit" *ngIf="state != 0" (click)="code = ''; state = 0" class="btn btn-default btn-block">Re-sent</button>
          </div>
          <div class="form-group text-center">
            <a href="#">Forgot Password</a>&nbsp;|&nbsp;
            <a href="#">Support</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>