body{
    background: #00589F;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00589F', endColorstr='#0073CF', GradientType=0);
    background: -webkit-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
    background: -moz-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
    background: -ms-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
    background: -o-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
    background: linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
    color: white;
  }
  
  div.well{
    height: 250px;
  } 
  
  .Absolute-Center {
    margin: auto;
    position: absolute;
    left: 0; right: 0;
  }
  
  .Absolute-Center.is-Responsive {
    width: 50%; 
    min-width: 200px;
    max-width: 350px;
    padding: 20px;
    margin-top: 80px;
    background-color: #F5F5F5;
  }

  @media screen and (max-width: 480px){
    .Absolute-Center.is-Responsive {
      width: 100%;
    }
  }
  
  #logo-container{
    margin: auto;
    margin-bottom: 10px;
    width:200px;
    height:30px;
    text-align: center;
  }