.list-group{
    margin-top: 20px;
}
.list-group-image{
    width: 200px;
    height: 150px;
    margin-top: 20px;
}
.thumbnail{
    border: unset;
}
.thumbnail-right{
    border-right: 1px solid #ddd !important; 
}
.list-group-image{
    cursor: pointer;
}
.div-carousel{
    height: 350px;
    margin-top: 5%;
    width: 600px;
    padding-left: 15%;
}